body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game-info {
  margin-left: 20px;
}

/****** al meu *****/


/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.scoreBoard table {
    border-collapse: collapse;
    border: 1px solid black;
    font-weight: normal;
}

.scoreBoard table td, .scoreBoard table th {
    padding: 2px 5px;
    font-size: 13px;
}

.scoreBoard table td:first-child, .scoreBoard table th:first-child {
    width: 9px;
}

.scoreBoard table th {
  font-weight: normal;
  font-size: 14px;
}

.scoreBoard table td:nth-child(2n+1) {
    width: 9px;
    font-family: Helvetica;
}

.scoreBoard table td:nth-child(2n+2) {
    width: 30px;
    font-family: Helvetica;
}

.scoreBoard table td.bid.wrong {
    text-decoration: line-through;
}

.scoreBoard table td.bid.prize {
    background-color: #d0efd0;
}